<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.taalhuisnieuwgrieks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- The Main Activity of the app -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Children of the Main Activity -->
        <activity
            android:name=".LessonOneActivity"
            android:label="@string/lesson_one"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonTwoActivity"
            android:label="@string/lesson_two"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonThreeActivity"
            android:label="@string/lesson_three"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonFourActivity"
            android:label="@string/lesson_four"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonFiveActivity"
            android:label="@string/lesson_five"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonSixActivity"
            android:label="@string/lesson_six"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonSevenActivity"
            android:label="@string/lesson_seven"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonEightActivity"
            android:label="@string/lesson_eight"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonNineActivity"
            android:label="@string/lesson_nine"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonTenActivity"
            android:label="@string/lesson_ten"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonElevenActivity"
            android:label="@string/lesson_eleven"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonTwelveActivity"
            android:label="@string/lesson_twelve"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonThirteenActivity"
            android:label="@string/lesson_thirteen"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonFourteenActivity"
            android:label="@string/lesson_fourteen"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonFifteenActivity"
            android:label="@string/lesson_fifteen"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonSixteenActivity"
            android:label="@string/lesson_sixteen"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonSeventeenActivity"
            android:label="@string/lesson_seventeen"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.MainActivity"/>
        <activity
            android:name=".LessonEighteenActivity"
            android:label="@string/lesson_eighteen" />
        <!-- Children of the Lesson Activities -->
        <activity android:name=".TestActivityLessonOneGRNL"
            android:label="Les 1 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonOneActivity"/>
        <activity android:name=".TestActivityLessonOneNLGR"
            android:label="Les 1 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonOneActivity"/>

        <activity android:name=".TestActivityLessonTwoGRNL"
            android:label="Les 2 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonTwoActivity"/>
        <activity android:name=".TestActivityLessonTwoNLGR"
            android:label="Les 2 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonTwoActivity"/>

        <activity android:name=".TestActivityLessonThreeGRNL"
            android:label="Les 3 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonThreeActivity"/>
        <activity android:name=".TestActivityLessonThreeNLGR"
            android:label="Les 3 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonThreeActivity"/>

        <activity android:name=".TestActivityLessonFourGRNL"
            android:label="Les 4 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFourActivity"/>
        <activity android:name=".TestActivityLessonFourNLGR"
            android:label="Les 4 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFourActivity"/>

        <activity android:name=".TestActivityLessonFiveGRNL"
            android:label="Les 5 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFiveActivity"/>
        <activity android:name=".TestActivityLessonFiveNLGR"
            android:label="Les 5 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFiveActivity"/>

        <activity android:name=".TestActivityLessonSixGRNL"
            android:label="Les 6 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSixActivity"/>
        <activity android:name=".TestActivityLessonSixNLGR"
            android:label="Les 6 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSixActivity"/>

        <activity android:name=".TestActivityLessonSevenGRNL"
            android:label="Les 7 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSevenActivity"/>
        <activity android:name=".TestActivityLessonSevenNLGR"
            android:label="Les 7 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSevenActivity"/>

        <activity android:name=".TestActivityLessonEightGRNL"
            android:label="Les 8 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonEightActivity"/>
        <activity android:name=".TestActivityLessonEightNLGR"
            android:label="Les 8 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonEightActivity"/>

        <activity android:name=".TestActivityLessonNineGRNL"
            android:label="Les 9 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonNineActivity"/>
        <activity android:name=".TestActivityLessonNineNLGR"
            android:label="Les 9 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonNineActivity"/>

        <activity android:name=".TestActivityLessonTenGRNL"
            android:label="Les 10 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonTenActivity"/>
        <activity android:name=".TestActivityLessonTenNLGR"
            android:label="Les 10 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonTenActivity"/>

        <activity android:name=".TestActivityLessonElevenGRNL"
            android:label="Les 11 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonElevenActivity"/>
        <activity android:name=".TestActivityLessonElevenNLGR"
            android:label="Les 11 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonElevenActivity"/>

        <activity android:name=".TestActivityLessonTwelveGRNL"
            android:label="Les 12 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonTwelveActivity"/>
        <activity android:name=".TestActivityLessonTwelveNLGR"
            android:label="Les 12 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonTwelveActivity"/>

        <activity android:name=".TestActivityLessonThirteenGRNL"
            android:label="Les 13 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonThirteenActivity"/>
        <activity android:name=".TestActivityLessonThirteenNLGR"
            android:label="Les 13 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonThirteenActivity"/>

        <activity android:name=".TestActivityLessonFourteenGRNL"
            android:label="Les 14 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFourteenActivity"/>
        <activity android:name=".TestActivityLessonFourteenNLGR"
            android:label="Les 14 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFourteenActivity"/>

        <activity android:name=".TestActivityLessonFifteenGRNL"
            android:label="Les 15 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFifteenActivity"/>
        <activity android:name=".TestActivityLessonFifteenNLGR"
            android:label="Les 15 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonFifteenActivity"/>

        <activity android:name=".TestActivityLessonSixteenGRNL"
            android:label="Les 16 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSixteenActivity"/>
        <activity android:name=".TestActivityLessonSixteenNLGR"
            android:label="Les 16 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSixteenActivity"/>

        <activity android:name=".TestActivityLessonSeventeenGRNL"
            android:label="Les 17 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSeventeenActivity"/>
        <activity android:name=".TestActivityLessonSeventeenNLGR"
            android:label="Les 17 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonSeventeenActivity"/>

        <activity android:name=".TestActivityLessonEighteenGRNL"
            android:label="Les 18 GR - NL"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonEighteenActivity"/>
        <activity android:name=".TestActivityLessonEighteenNLGR"
            android:label="Les 18 NL - GR"
            android:parentActivityName="com.example.android.taalhuisnieuwgrieks.LessonEighteenActivity"/>
    </application>

</manifest>